
ul li{
    padding-bottom: 10px;
}
li.title{
    color: #919496;
    font-weight: bold;
}
#flink a{
    text-decoration: none;
    color: #919496;
    margin-right: 10px;
}
#flink a:hover{
    color: green;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: green;
}
.btn-custom{
    border-radius: 30px;
    background-color: rgb(53, 12, 92);
}
.btn-custom:hover{
    transition: background 0.8s, color 0.8s;
}