.mosquito0{
    height: 150px;
    width: 150px;
}
.mosquito1{
    height: 50px;
    width: 50px;
}
.mosquito2{
    height: 60px;
    width: 60px;
}
.mosquito3{
    height: 30px;
    width: 30px;
}
body{
    background-image: url('https://i.ytimg.com/vi/lDMsDzBnSB0/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
div.painel{
    height: 100px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.836);
    border-radius: 20px;
    text-align: center;
    padding-top: 20px;


    position: absolute;
    bottom: 0px;
    margin-bottom: 20px;
}
div{
    margin: 2px;
}

